---
import Layout from '../layouts/BasePage.astro';
---

<Layout
    heroImage="logo.png"
>
    <p>
        Tenets:
        <ul>
            <li>Access to nature helps us understand the needs of our planet.</li>
            <li>The general public are the most capable of monitoring our shorelines.</li>
            <li>Shorelines should be public protected spaces, not private assets.</li>
        </ul>
        Consider reading more <a href="/about">about us</a> and our <a href="/proposals">proposals</a>.
    </p>
</Layout>
