---
import Layout from '../layouts/BasePage.astro';
---

<Layout
	title="UP Shoreline Safety"
>
	<p>
		Our coalition would like to heavily emphasize the importance of safety when exploring the shoreline.
		The Univeristy Place shoreline has a unique safety challenge due to the active train tracks that run along it.
		On this page, we will share some brief safety considerations that we hope you will keep in mind and research
		further as needed since we can't include everything here.
	</p>

	<h3>Trains</h3>

	<p>
		The rail line running along the University Place shoreline is owned by
		<a href="https://bnsfnorthwest.com/washington/">BNSF</a> and gets used frequently. These tracks create an
		access barrier that can be bypassed in any of the following ways:
		<ul>
			<li>
				Walk over the
				<a href="https://www.piercecountywa.gov/1317/Chambers-Creek-Regional-Park">
					Bridge to the Beach
				</a>
				at Chambers Creek Regional Park</li>
			<li>Walk or drive over the Day Island Bridge</li>
			<li>
				Swim/paddle/boat under the famous
				<a href="https://industrialscenery.blogspot.com/2017/06/bnsfnorthern-pacific-bridge-over.html">
					BNSF/Northern Pacific Bridge #14
				</a>
				from Chambers Bay
			</li>
			<li>Walk across the track at the private residential Sunset Beach pedestrian crossing (not public)</li>
			<li>Walk across the track anywhere else (illegal)</li>
		</ul>

		Regardless, please recognize that <b>trains are dangerous</b> and multiple <b>people have been killed</b> by
		trains on this exact train line. <b>Trains can also derail</b>, which has also happened on this exact train line!
	</p>

	<h3>Sea</h3>
</Layout>
