---
import Layout from '../layouts/BasePage.astro';
---

<Layout
	title="UP Shoreline Safety"
>
	<p>
		Our coalition would like to heavily emphasize the importance of safety when exploring the shoreline.
		It's easy to under estimate the danger of the water, where things can go bad fast.
		The University Place shoreline has a unique safety challenge due to the active train tracks that run along it.
		On this page, we will share some brief safety considerations that we hope you will keep in mind and research further as needed since we can't include everything here.
	</p>

	<h3>Sea</h3>

	<p>
		There <em>are</em> sharks in the Salish Sea, but none of them are going to eat you.
		What you should <em>really</em> be afraid of is the water itself.
		The sea is being fed cold water from our rivers and from the northern pacific ocean.
		Even in late summer heat, the water temperature is only a few degrees warmer than it is in the winter (that's what powers our temperate climate)!
		Local lakes will warm up to safe swimming temperatures, but the Salish Sea is a <b>serious risk for cold water shock induced drowning and hypothermia year round</b>.
		Unfortunately we see drowning deaths in our state from everyday people jumping in our waterways and going into shock.
		You can enjoy the water safely, just come prepared and practice caution.
		Shallow water can warm up noticeably on a hot day, just always be careful around drown-able water depths.
		<b>Wearing a life jacket is the best way to keep yourself afloat regardless of your condition or situation</b>.
		<br/>
		<br/>
		The other thing that makes the water a force to be reckoned with is its currents.
		The further out you go, you will face <b>choppy waters</b> and be susceptible to being <b>pulled by the currents</b>.
		Especially through and around the narrows, where so much water moves through such a narrow channel with the tides.
		You should not plan to travel far from shore without a <b>seaworthy vessel and the necessary preparation</b>.
		<br/>
		<br/>
		I always <b>check the <a href="https://tidesandcurrents.noaa.gov/noaatidepredictions.html?id=9446484">NOAA tide charts</a></b> before visiting the waterfront.
		The sea level difference between an extreme low tide and extreme high tide can be as much as 20ft!
		<b>Don't let the tide sneak up and trap you</b>, it will be hours until the tide goes back down again.
		Be mindful <b>at low tide you might be walking in an intertidal zone</b> where a lot of sea life begins.
		<b>Watch your step!</b>
		We are famous among scuba divers for our <b>near-shore sea cliffs</b>, which you might accidentally walk over at low tide and suddenly become submerged.
		<br/>
		<br/>
		Another easy to overlook safety hazard is the <b>water quality</b>.
		The two best sources I know to check in the area are <a href="https://southsound.surfrider.org/programs/blue-water-task-force">Blue Water Task Force</a> and <a href="https://ecology.wa.gov/water-shorelines/water-quality/saltwater/beach-program">BEACH</a>.
		I'd especially emphasize this <b>if you are bringing a pet with you, don't let them drink the saltwater</b>.
		It's also best practice to <b>rinse off anyone and anything that was in the water</b> at your earliest convenience.
		Rinsing yourself, family, and pets will keep them healthy.
		Rinsing your stuff (e.g. boat, life jacket, snorkel) before bringing them to a new body of water will help prevent transfer of invasive or harmful life.
		<br/>
		<br/>
		If you are really thinking about getting out on the water, consider getting a <a href="https://parks.wa.gov/about/rules-and-safety/boater-education-safety/boater-education-card">Boater Education Card</a>.
	</p>

	<h3>Trains</h3>

	<p>
		The rail line running along the University Place shoreline is owned by <a href="https://bnsfnorthwest.com/washington/">BNSF</a> and gets used frequently.
		These tracks create an access barrier that can be bypassed in any of the following ways:

		<ul>
			<li>Walk over the <a href="https://www.piercecountywa.gov/1317/Chambers-Creek-Regional-Park">Bridge to the Beach</a> at Chambers Creek Regional Park</li>
			<li>Walk or drive over the Day Island Bridge</li>
			<li>Swim/paddle/boat under the famous <a href="https://industrialscenery.blogspot.com/2017/06/bnsfnorthern-pacific-bridge-over.html">BNSF/Northern Pacific Bridge #14</a> from Chambers Bay</li>
			<li>Walk across the track at the private residential Sunset Beach pedestrian crossing (not public)</li>
			<li>Walk across the track anywhere else (illegal)</li>
		</ul>

		Regardless, please recognize that <b>trains are dangerous</b> and multiple <b>people have been killed</b> by trains on this exact train line.
		<b>Trains can also derail</b>, which has also happened on this exact train line!
		<br/>
		<br/>
		A good rule of thumb is to <b>keep your distance and minimize time near the tracks</b>.
		Walking along the tracks is especially risky because you would have to react to oncoming trains and might not have a safe place near you at the time.
	</p>
</Layout>
